[Desktop Entry]
Version=1.0
Type=Application
Name=SysTrayUpdater
Exec=/usr/bin/systrayUpdater
Icon=$HOME/.config/systrayUpdater/blue-logo.png
Terminal=false
StartupNotify=false
Categories=Utility;
