[Desktop Entry]
Version=1.0
Type=Application
Name=SysTrayUpdater
Exec=/usr/bin/systray-updater
Icon=/usr/share/icons/hicolor/symbolic/arch-blue-symbolic-80.svg
Terminal=false
StartupNotify=false
Categories=Utility;
