[Desktop Entry]
Name=Tray Updater
Icon=/home/Git/systrayUpdater/blue-logo.png
Exec=python /home/Git/systrayUpdater/first.py
Terminal=false
Type=Application
Categories=Utility
