[Desktop Entry]
Name=Tray Updater
#Version=0.1
Icon=/home/ez/NextCloud/Projects/Python/systrayUpdater/blue-logo.png
Exec=python /home/ez/NextCloud/Projects/Python/systrayUpdater/first.py
Terminal=false
Type=Application
Categories=Utility
