[Desktop Entry]
Name=Tray Updater
Icon=/home/ez/Git/systrayUpdater/blue-logo.png
Exec=/home/ez/Git/systrayUpdater/first.py
Terminal=false
Type=Application
Categories=Utility
